<h1>My portfolio</h1>

<%= render 'users/search_stock_form' %>

<div id="results">
</div>

<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p>No stocks tracked yet.</p>
<% end %>
