@import "bootstrap/dist/css/bootstrap";

body {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  margin-bottom: 20px;
}
.search-area {
 margin-top: 55px;
}
.search-title {
 margin-bottom: 25px;
}
.results-block {
  display: inline-block;
}
.username_tag {
  margin-right: 10px;
}
